mixin seo(title='GemPages', description, keywords='gempages, partner program, affiliate, shopify, page builder, web builder, site builder', canonical, sitename)
  title= title
  meta(name='keywords' content=keywords)
  meta(name='description' content=description)
  link(rel='canonical' href=canonical)
  meta(property='og:locale' content='en_US')
  meta(property='og:type' content='website')
  meta(property='og:title' content=title)
  meta(property='og:description' content=description)
  meta(property='og:url' content=canonical)
  meta(property='og:site_name' content=sitename)
  meta(name='twitter:card' content='summary')
  meta(name='twitter:description' content=description)
  meta(name='twitter:title' content=title)